// ==========================================================================
// #Banner
// ==========================================================================

.banner {
    color: white;

    &__outer {
        @include container;
    }

    &__inner {
        min-height: 215px;
        padding: 10px 0;

        @include media-query(medium) {
            padding: 35px 0;
        }
    }

    &__title {
        font-size: 2rem;
        padding: 12px 0 35px;
        color: white;

        @include media-query(medium) {
            font-size: 2.5rem;
        }

        @include media-query(large) {
            font-size: 3rem;
        }
    }

    &__meta {
        font-size: 1rem;
        color: #e5e5e5;
    }

    &__meta-tag {
        &::after{
            content: '';
            display: inline-block;
            @include box(4px);
            margin: 0 9px;
            @include transform(translateX(50%));
            vertical-align: middle;
            @include border-radius(7.5px);
            background-color: #e5e5e5;
            
        }

        &:last-child:after {
            @include box(0);
        }
    }

    &__meta-category {
        font-weight: bold;
    }

    // Author
    &__author-info {
        @include flexbox();
        @include align-items(center);

        & span {
            margin-right: 20px;
        }
    }

    &__author-img-wrap {
        margin-right: 15px;
        width: 53px;
        height: 53px;
    }

    &__author-img {
        @include box(53px);
        @include border-radius(50%);
        border: 2px solid white;
        max-width: none;
    }

    &__author-name {
        & a {
            color: white;
        }
    }

    &__author-category {

        & i {
            margin-right: 7px;
        }

        & a {
            color: white;
        }
    }

    &--html {
        background-color: #39add1;
    }

    &--css {
        background-color: #3079ab;
    }

    &--wordpress {
        background-color: #838cc7;
    }

    &--javascript {
        background-color: #c25975;
    }

    &--dev-tools {
        background-color: #637a91;
    }

    // &--html5-canvas {
    //     background-color: red;
    // }





}