// ==========================================================================
// #Contact Sidebar
// ==========================================================================

.contact-sidebar {
 	width: span(12);
 	
 	@include media-query(medium) {
 		float: left;
 		width: span(3 of 11);
 	}
}